In [77]:
import pandas as pd
import numpy as np

In [78]:
score = pd.read_csv('score.csv', encoding='euc-kr', index_col='과목')

In [82]:
score

    1반  2반  3반  4반
과목
수학  45  44  73  39
영어  76  92  45  69
국어  47  92  45  69
사회  92  81  85  40
과학  11  79  47  26

In [80]:
score.sum()

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [81]:
score.sum(axis = 1)

과목
수학    201
영어    282
국어    253
사회    298
과학    163
dtype: int64

In [83]:
score['합계'] = score.sum(axis = 1)
score

    1반  2반  3반  4반   합계
과목
수학  45  44  73  39  201
영어  76  92  45  69  282
국어  47  92  45  69  253
사회  92  81  85  40  298
과학  11  79  47  26  163

In [89]:
score['평균'] = score.loc[:, :'4반'].mean(axis = 1)
score

    1반  2반  3반  4반   합계     평균
과목
수학  45  44  73  39  201  50.25
영어  76  92  45  69  282  70.50
국어  47  92  45  69  253  63.25
사회  92  81  85  40  298  74.50
과학  11  79  47  26  163  40.75

In [91]:
score.loc["반평균"] = score.loc[:, :"4반"].mean()
score

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6    NaN    NaN

In [92]:
score.fillna(value=0, inplace=True)
score

       1반    2반    3반    4반     합계     평균
과목
수학   45.0  44.0  73.0  39.0  201.0  50.25
영어   76.0  92.0  45.0  69.0  282.0  70.50
국어   47.0  92.0  45.0  69.0  253.0  63.25
사회   92.0  81.0  85.0  40.0  298.0  74.50
과학   11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6    0.0   0.00

In [95]:
score.loc[:, :"4반"].max(axis = 1)

과목
수학     73.0
영어     92.0
국어     92.0
사회     92.0
과학     79.0
반평균    77.6
dtype: float64

반평균, 합계, 평균 값을 제외하여 최대, 최소 값 구하는 예제

In [96]:
score.loc[:"과학", :"4반"].max(axis = 1)

과목
수학    73.0
영어    92.0
국어    92.0
사회    92.0
과학    79.0
dtype: float64

In [97]:
score.loc[:"과학", :"4반"].min(axis = 1)

과목
수학    39.0
영어    45.0
국어    45.0
사회    40.0
과학    11.0
dtype: float64